#map {
    height: 500px;
}

html, body, .main, .row {
    height: 100vh;
}



.sidebar {
    background-color: #3b5998;
    color: #dfe3ee;
}

ul.sidebar {
  list-style-type: none;
}

.content {
    background-color: #f7f7f7; 
    color: #8b9dc3;
}

a.footer {
    color: inherit;
    text-decoration: none; 
}

.footer {
    height:40px;
    margin-top:-40px;
}
